<div class="resultados-paso3">
  <div class="component-container-borde">
    <div class="titulo-general">
      <p>Ahorros económicos</p>
    </div>
    <div class="informacion-general">
      <div class="ajustar-contenido">
        <div class="info-component">
          <div class="icono">
            <img
              src="assets/icon-retorno.png"
              class="tamaño-icon"
              alt="Icono de dinero"
            />
          </div>
          <div class="resultado-centro">
            <p class="resultado">
              <span class="dolar-simbolo">&#36;</span>{{ ahorrosUsd | number:'1.0-0'}}
            </p>
          </div>
          <div class="unidad-component">
            <p class="unidad">USD</p>
            <P class="texto-lateral">al año</P>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
