<div class="componentes-resultados-paso3">

  <div class="component-container-borde">
    <div class="icon-container">
      <img src="assets/icon-CO2.png" id="marca" class="custom-icon" alt="Icono de retorno">
    </div>
    <div class="texto-container">
      <p class="titulo">Emisiones CO2 evitadas </p>
      <p class="resultado-component">{{carbonOffsetFactorTnPerMWh}}<span class="unidad" id="unidad-min"> tCO2/MWh</span></p>
      <p class="texto-inferior">Según los paneles seleccionados</p> 
    </div>
  </div>

</div>
