/*COLORES*/
:root {
  --dark-green: #1e3932;
  --medium-green: #006241;
  --light-green: #00754a;
  --light-background: #d4e9e2;
  --golden: #cba258;
  --gris: #edebe9;
  --font-dark: #000000de;
  --font-light: #424242;
  --bordes: #a9b8ad;
}
/* General */
/*los estilos de .content estan en style.css*/
.info-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
 /* gap: 5px;*/
}

/*-------------------------------------------------------------*/
.toolbar-pasos {
  width: 100%;
  margin-top: 0%;
}

/***************************************************************/

#texto {
  text-align: left !important;
  color:var(--font-light);
  font-size: 15px;
  font-weight: 400;
  margin: 0px;
}

/********************************************************************/
.informacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
/******************************************************/
.info-cargar {
  width: 100%;
}

.content-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button[disabled] {
  background-color: #d3d3d3; /* Color gris */
  color: #a9a9a9; /* Texto gris */
  cursor: not-allowed; /* Cursor no permitido */
  opacity: 0.6; /* Opacidad reducida */
}

.custom-snackbar {
  --mdc-snackbar-container-color: #3c81bb !important;
}

/***********************************************************************/
.total {
  width: 100%;
  padding-top: 1%;
  display: flex;
  justify-content: end;
}