<div class="resultados-paso3">
  <div class="component-container-borde">
      <div class="titulo-general">
          <p>Paneles a instalar</p>
      </div>
      <div class="informacion-general">
          <div class="ajustar-contenido-panel">
              <div class="info-component-panel">      
                  <div class="icono">
                      <img src="assets/icon-panel.png"  class="tamaño-icon" alt="Icono de panel">
                  </div>
                  <div class="resultado-centro-panel">
                     <mat-slider
                     class="custom-slider"
                     min="4"
                     max="20"
                     step="1"
                     (change)="onSliderChange($event)"
                     discrete
                     [displayWith]="formatLabel">
                     <input matSliderThumb [(ngModel)]="panelesCantidad" #slider>
                   </mat-slider>
                  </div>
                  <div class="unidad-component-simple">
                      <p class="resultado-panel">{{ panelesCantidad }}</p>
                  </div>
              </div>
          </div>
         <hr>
         <div class="texto-inferior-panel">
            <div class="titulo-detalle">
              <p>Detalle del panel:</p>
            </div>
            <div class="dimensiones-panel">
              <p > {{ dimensionPanel.height * 100 }} x  {{ dimensionPanel.width * 100 }}cm - {{ panelCapacityW }}W </p>
            </div> 
         </div>
      </div>
      <mat-slider min="4" [max]="maxPanelsCount"  step="1" (change)="onSliderChange($event)"  discrete [displayWith]="formatLabel">
        <input matSliderThumb [(ngModel)]="panelesCantidad" #slider>
      </mat-slider>
    </div>
  </div>
</div>