
/*COLORES*/
:root {
  --dark-green: #1e3932;
  --medium-green: #006241;
  --light-green: #00754a;
  --light-background: #d4e9e2;
  --golden: #cba258;
  --gris: #edebe9;
  --font-dark: #000000de;
  --font-light: #424242;
  --bordes: #a9b8ad;
}
/*.paneles-container {
  width: 228px;  
  height: 80px; 
  background-color: white;
  border: 2px solid var(--light-background);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}*/
.paneles-container {
  position: relative;
  width: 228px;  /* Ancho total */
  height: 80px; /* Alto total */
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.paneles-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--light-background);
  border-radius: 8px; /* Ajustar si es necesario */
  pointer-events: none; /* Asegura que no interfiera con el contenido dentro del contenedor */
  box-sizing: border-box;
}

.icon-container {
  flex-shrink: 0;
}

.custom-icon{
  width: 45px;
  height: 45px;
  display: block;
}

.texto-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.titulo {
  font-size: 17px; 
  /*color: #417B6F; */
  color: var(--dark-green);
  margin-bottom:15px; 
}

/*********************************************/
.datos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.numero{
  margin-top: 9px;
  margin-left: 10px;
}
.cantidad { 
  font-size: 40px;
  /*color: #417B6F; */
  color: var(--medium-green);
  font-weight: 600;
}

.texto-inferior{
 /* color: #417B6F;*/
  color: var(--dark-green);
  font-size: 12px;
  margin-bottom: 0%;
  margin-top: 0% ;
  font-weight:300 ;
}

.dimensiones{
  /*color: #417B6F;*/
  color: var(--dark-green);
  font-size: 11px;
  margin-bottom: 0%;
  margin-top: 0% ;
  font-weight:bold;
}