
<div class="componentes-resultados-paso3">
  
  <div class="component-container">
      <div class="icon-container">
        <img src="assets/dinero-tiempo.png" id="marca" class="custom-icon" alt="Icono de retorno">
      </div>
      <div class="texto-container">
        <p class="titulo">Recupero de la inversión.</p>
        <p class="resultado-component">18 <span class="unidad">meses</span></p>
        <p class="texto-inferior">Calculado según la superficie definida</p>
      </div>
  </div>

</div>


