
<div class="resultados-paso3">
    <div class="component-container-borde">
      <div class="titulo-general-long">
        <p>Recupero de la inversión</p>
      </div>
  
      <div class="informacion-general">      
        <div class="datos">
  
            <div class="icono">
                <img src="assets/dinero-tiempo.png"  
                class="tamaño-icon" 
                alt="Icono de retorno">
            </div>
    
          <div class="resultado-centro">
            <p class="resultado">  {{plazoRecuperoInversion | number:'1.0-0'}} </p>
            <p class="unidad">meses</p>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>