<div class="componentes-resultados-paso3">
  <div class="component-container-borde">
     <div class="icon-container">
       <img src="assets/icon-sup.png" id="marca" class="custom-icon" alt="Icono de retorno">
     </div>
     <div class="texto-container">
       <p class="titulo">Superficie aproximada</p>
       <p class="resultado-component">{{selectedAreaM2}}<span class="unidad"> m2</span></p>
       <p class="texto-inferior">Calculado según la superficie definida</p>
     </div>
   </div>
</div>