<div class="resultados-paso3">
  <div class="component-container-borde">
      <div class="titulo-general">
          <p>Superficie aproximada</p>
      </div>
      <div class="informacion-general">
          <div class="ajustar-contenido">
              <div class="info-component">      
                  <div class="icono">
                      <img src="assets/icon-sup.png"  class="tamaño-icon" alt="Icono de retorno">
                  </div>
                  <div class="resultado-centro">
                      <p class="resultado">{{selectedAreaM2 | customNumber}}</p>
                  </div>
                  <div class="unidad-component-simple">
                    <p class="unidad-simple-cuadrado">m<sup class="small-sup">2</sup></p>
                  </div>
              </div>
          </div>
      <!--  <hr>
         <div class="texto-inferior-component">
          <p>Calculado según la superficie definida</p>
         </div>--> 
      </div>
  </div>
</div>