/*COLORES*/
:root {
  --dark-green: #1e3932;
  --medium-green: #006241;
  --light-green: #00754a;
  --light-background: #d4e9e2;
  --golden: #cba258;
  --gris: #edebe9;
  --font-dark: #000000de;
  --font-light: #424242;
  --bordes: #a9b8ad;
}

/* General */
/*los estilos de .content estan en style.css*/
.info-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

/********************************************************************/
.informacion{
  width: 100%;
 /* height: 82%;*/
  height: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
 /* background-color: #8fb92d;*/

  .content-scroll {
   /* height: 55vh;
    max-height: 55vh;*/
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll; /* Solo permite desplazamiento vertical */
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
   /* background-color: rgb(190, 146, 155);*/
  }
  
  /* Estilos para personalizar la barra de desplazamiento vertical */
  .content-scroll::-webkit-scrollbar {
    width: 8px; 
  }

  .content-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .content-scroll::-webkit-scrollbar-thumb {
    background: #b8b6b6; /* Color de la barra de desplazamiento */
    border-radius: 4px; /* Redondear los bordes de la barra */
  }
  
  .content-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra de desplazamiento al pasar el cursor */
  }
  

}
/*----------------------------------------------------------------------------------------------------------*/  
/* Estilos para los botones secundarios  EDITAR/DESCARGAR/ENVIAR*/
.action-buttons{
  width: 100%;
  height: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.descargar-enviar-component{
  width: 22%;
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#downloadButton{
  background-color: white;
  color: var(--dark-green);
  border: 2px solid var(--dark-green); 
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  box-sizing: border-box; 
}

#emailButton{
  background-color:white;
  color: var(--dark-green);
  border: 2px solid var(--dark-green); 
  padding: 5px 11px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  box-sizing: border-box; 
}

#emailButton:hover {
  border-color: var(--medium-green); 
  color: var(--medium-green); 
}

#downloadButton:hover {
  border-color: var(--medium-green); 
  color: var(--medium-green); 
}

/*...............................................*/
#boton-editar {
  color: white;
  background-color: var(--dark-green);
  font-weight: bold;
 /* border: 2px solid var(--dark-green); */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-right: 2px solid #000; /* Borde de 2px a la derecha */
  border-bottom: 2px solid #000; /* Borde de 2px abajo */
}

#boton-editar .material-icons {
  margin-left: 8px; 
  color:white; 
  font-size: 16px; 
}

#boton-editar:hover {
  border-right: 2px solid var(--dark-green); /* Borde de 2px a la derecha */
  border-bottom: 2px solid var(--dark-green); /* Borde de 2px abajo */
  background-color: var(--medium-green);
  color: white; 
}

#boton-editar:hover .material-icons {
  color: white; 
}

/***********************************************************************/
.info-mostrar{
  width: 100%;
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.info-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 /* justify-content: space-around;*/
}

/*------------------------------------------------*/
.grafico{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 5px;
  border: 2px solid var(--light-background);
}

.periodo{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Borde inferior de 1px y color gris */
  margin-bottom: 10px;
}

.custom-icon{
  width: 50px;
  height: auto;
}

.texto-meses{
  font-size:19px ;
 /* color: #417B6F; */
 color: var(--medium-green);
}

.numero-meses{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.numero{
  font-size: 28px;
  color: var(--medium-green);
  font-weight: 600;
  margin-bottom: 0%;
}
.meses{
  font-size:17px ;
 /* color: #417B6F; */
 color: var(--medium-green);
  font-weight: bold;
}
/*----------------------------------------------------------------*/
.grafico-imagen{
  width: 490px;
  height:160px;
  margin-bottom: 0px;
}
/*-----------------------------------------------------------------*/
.texto-inferior{
  width: 95%;
  text-align: right;
  height: 20px;
}
.texto-inferior,p{
  color: #417B6F;
  font-size: 12px;
}
/*------------------------------------------------------------------*/
/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: var(--font-light);
}

.botones-modal {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal.mostrar {
  display: flex;
}

.custom-snackbar {
  background-color: #4caf50; 
  color: #fff; 
}

