<div class="content" id="contentToConvert">
<div class="content">
  <div class="titulo">
    <h2 id="titulo">resultados</h2>
  </div>

  <div class="info-container">
    <div class="action-buttons">
    <!--  <button id="printButton" (click)="print()">
        <img src="assets/icon-imprimir-bco.png" alt="Icono imprimir" class="icono">
        Imprimir
      </button>-->
      
      <button id="downloadButton" (click)="downloadPDF()">
        <img src="assets/icon-descargar-bco.png" alt="Icono descargar PDF" class="icono">
        Descargar en PDF
      </button>
      
      <button id="emailButton" (click)="sendEmail()">
        <img src="assets/icon-correo-bco.png" alt="Icono enviar correo" class="icono">
        Enviar por correo
      </button>
    </div>
      <div class="informacion">

        <div class="content-scroll">
            <div class="info-mostrar">
           <!-- <div class="info-row">
                <app-resultado></app-resultado>
                <app-energia></app-energia>   
            </div>

            <div class="info-row">
              <app-paneles></app-paneles>
              <app-retorno></app-retorno>  
          </div> -->

          <div class="info-row">
            <app-ahorro></app-ahorro>
            <app-plazo></app-plazo> 
          </div>
          <div class="info-row">
            <app-paneles></app-paneles>
            <app-potencia></app-potencia>
          </div>
          <div class="info-row">
            <app-superficie></app-superficie>
            <app-cobertura></app-cobertura>
          </div>
          <div class="info-row">
            <app-energia></app-energia>
            <app-emisiones></app-emisiones>
          </div>
          <div class="info-row">
            <app-costo></app-costo>
            <app-tarifa-intercambio></app-tarifa-intercambio>
          </div>

         </div>
      
        
        <!--grafico--> 
        <div class="grafico">
          <div class="periodo">
            <div class="icono">
              <img src="assets/dinero-tiempo.png" id="marca" class="custom-icon" >
            </div>
            <div>
              <p class="texto-meses">Período de recuperación de la inversión aproximada</p>
            </div>
            <div class="numero-meses">
              <p class="numero">18</p>
              <p class="meses">meses</p>
            </div>
          </div> <!--termina periodo-->
          

          <div class="grafico-imagen">
            <app-graficos></app-graficos>
            
          </div>  
         <!-- <div class="texto-inferior">
            <p>Calculado según los datos ingresados</p>
          </div>-->
        </div>   <!--termina grafico-->
        </div>
        
      </div>  <!--termina informacion-->


      <!--botones-->
    <div class="button-container">
      <div class="boton">
        
        <button id="boton-volver" (click)="goBack()">
          <span class="material-icons">chevron_left</span> Volver
        </button>  
       <!-- <button id="boton-volver" (click)="goBack()">Volver</button> -->
        <br>
        <button id="boton-editar">
          Editar área
          <span class="material-icons">edit</span>
        </button>
        <br>
        <button id="boton-siguiente" (click)="mostrarAdvertencia()">Nuevo cálculo
          <span class="material-icons">chevron_right</span>
        </button>
      </div>
    </div>
    
    <!-- Modal de advertencia -->
<div class="modal" [ngClass]="{'mostrar': mostrarModal}">
  <div class="modal-contenido">
    <p>¿Estás seguro de que deseas salir? Cualquier información no guardada se perderá.</p>
    <div class="botones-modal">
      <button id="boton-volver" (click)="cancelarSalir()">Cancelar</button>
      <button id="boton-siguiente"  (click)="confirmarSalir()">Aceptar</button>
    </div>
  </div>
</div>
    
  </div>
  
</div> <!--content-->
</div>
