/*COLORES*/
:root {
  --dark-green: #1e3932;
  --medium-green: #006241;
  --light-green: #00754a;
  --light-background: #d4e9e2;
  --golden: #cba258;
  --gris: #edebe9;
  --font-dark: #000000de;
  --font-light: #424242;
  --bordes: #a9b8ad;
}


/* General */
/*los estilos de .content estan en style.css*/
.info-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

/********************************************************************/
.informacion{
  width: 100%;
  height: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .content-scroll {
    height: 55vh;
    max-height: 55vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}
/*----------------------------------------------------------------------------------------------------------*/  
/* Estilos para los botones secundarios */
.action-buttons {
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: space-between;
}

.action-buttons button {
 /* background-color: #a0be96;*/
 background-color:var(--golden);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  height: 42px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.action-buttons button:hover {
 /* background-color: #639a61;*/
 background-color:#cfb27b; 
}

/* Estilos para los iconos */
.action-buttons img.icono {
  margin-right: 8px; /* Espacio entre el icono y el texto */
  width: 20px; /* Tamaño del icono */
  height: auto;
}

/*------------------------------------------------*/
.info-mostrar{
  width: 100%;
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.info-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*------------------------------------------------*/
.grafico{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 5px;
 /* border: 2px solid #c1d2c0;*/
 /* border: 2px solid var(--medium-green);*/
 border: 2px solid var(--light-background);
}

.periodo{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Borde inferior de 1px y color gris */
  margin-bottom: 10px;
}

.custom-icon{
  width: 50px;
  height: auto;
}

.texto-meses{
  font-size:19px ;
 /* color: #417B6F; */
 color: var(--medium-green);
}

.numero-meses{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.numero{
  font-size: 28px;
 /* color: #417B6F; */
 color: var(--medium-green);
  font-weight: 600;
  margin-bottom: 0%;
}
.meses{
  font-size:17px ;
 /* color: #417B6F; */
 color: var(--medium-green);
  font-weight: bold;
}
/*----------------------------------------------------------------*/
.grafico-imagen{
  width: 490px;
  height:160px;
  margin-bottom: 0px;
}
/*-----------------------------------------------------------------*/
.texto-inferior{
  width: 95%;
  text-align: right;
  height: 20px;
}
.texto-inferior,p{
  color: #417B6F;
  font-size: 12px;
}
/*------------------------------------------------------------------*/
/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: var(--font-light);
}

.botones-modal {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal.mostrar {
  display: flex;
}



