/*COLORES*/
:root {
  --dark-green: #1e3932;
  --medium-green: #006241;
  --light-green: #00754a;
  --light-background: #d4e9e2;
  --golden: #cba258;
  --gris: #edebe9;
  --font-dark: #000000de;
  --font-light: #424242;
  --bordes: #a9b8ad;
}

/* General */
/*los estilos de .content estan en style.css*/
.info-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

/********************************************************************/
.informacion{
  width: 100%;
  height: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

.content-scroll {
    width: 100%;
   /* height: 60vh;
    max-height: 60vh;*/
    height: 60vh;
    overflow-y: scroll; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

/*cards*/
:root {
  --gris: #edebe9;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
 
}

.item {
  background-color: var(--gris);
  min-width: 210px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.container-graficos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

.item-grafico{
  min-width:300px;
  min-height: 120px;
}

/* Estilos para resoluciones mayores a 1366px */
@media only screen and (min-width: 1367px) {
  .content-scroll{
    height: 70vh;
  }
}



  /*------------------------------------------------*/
  /* Estilos para personalizar la barra de desplazamiento vertical */
  .content-scroll::-webkit-scrollbar {
    width: 8px; 
  }

  .content-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .content-scroll::-webkit-scrollbar-thumb {
    background: #b8b6b6;
    border-radius: 4px; 
  }
  
  .content-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
}
/*----------------------------------------------------------------------------------------------------------*/  
/* Estilos para los botones secundarios  EDITAR/DESCARGAR/ENVIAR*/
.action-buttons{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.descargar-enviar-component{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3px;
}

#downloadButton{
  background-color: white;
  color: var(--dark-green);
  border: 2px solid var(--dark-green); 
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  box-sizing: border-box; 
}

#emailButton{
  background-color:white;
  color: var(--dark-green);
  border: 2px solid var(--dark-green); 
  padding: 5px 11px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  box-sizing: border-box; 
}

#emailButton:hover {
  border-color: var(--medium-green); 
  color: var(--medium-green); 
}

#downloadButton:hover {
  border-color: var(--medium-green); 
  color: var(--medium-green); 
}

/*...............................................*/
#boton-editar {
  color: white;
  background-color: var(--dark-green);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top: none;
  border-left: none;
}

#boton-editar .material-icons {
  margin-left: 8px; 
  color:white; 
  font-size: 16px; 
}

#boton-editar:hover {
  border-right: 2px solid var(--dark-green); /* Borde de 2px a la derecha */
  border-bottom: 2px solid var(--dark-green); /* Borde de 2px abajo */
  background-color: var(--medium-green);
  color: white; 
}

#boton-editar:hover .material-icons {
  color: white; 
}


/*------------------------------------------------------------------*/
/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: var(--font-light);
}

.botones-modal {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal.mostrar {
  display: flex;
}

/********************************************/

/**********************************************************/

