
<div class="resultados-paso3">
  <div class="component-container-borde">
      <div class="titulo-general">
          <p>Cobertura de consumo</p>
      </div>
      <div class="informacion-general">
          <div class="ajustar-contenido">
              <div class="info-component">      
                  <div class="icono">
                      <img src="assets/icon-cob-consumo.png"  class="tamaño-icon" alt="Icono de cobertura">
                  </div>
                  <div class="resultado-centro-cobertura">
                      <p class="resultado">{{proporcionAutoconsumo}}</p>
                  </div>
                  <div class="unidad-component-cobertura">
                      <p class="unidad-simple">%</p>
                  </div>
              </div>
          </div>
         <hr>
         <div class="texto-inferior-component">
          <p>Del consumo total de electricidad</p>
         </div>
      </div>
  </div>
</div>