/*COLORES*/
:root {
  --dark-green: #1e3932;
  --medium-green: #006241;
  --light-green: #00754a;
  --light-background: #d4e9e2;
  --golden: #cba258;
  --gris: #edebe9;
  --font-dark: #000000de;
  --font-light: #424242;
  --bordes: #a9b8ad;
}

.tarifa-container {
  width: 100%;
}

select {
  width: 100%;
  height: 40px;
  border: 2px solid var(--light-background);
  border-radius: 8px; 
  padding: 5px; 
  font-size: 14px;
  font-family: 'Sodo Sans', sans-serif;
  color: var(--font-light);
  transition: border-color 0.3s ease; 
}

select:focus {
  border-color: var(--medium-green);
}
/*****************************************************/
.potencia-contratada{
  width: 100%;
}

.potencia-content{
  display: flex;
  flex-direction: row;
  gap: 10px;
 align-items: center;
}

.potencia-content p{
  margin: 0;
  font-size: 14px;
  color: var(--font-light);
  display: flex;
  align-items: center;
  justify-content: center;

}

input {
  width: 50px;
  height: 35px;
  border: 2px solid var(--light-background);
  border-radius: 8px; 
  padding: 0; /* Elimina el padding interno para asegurar que el texto esté completamente centrado */
  font-size: 16px;
  font-family: 'Sodo Sans', sans-serif;
  color: black;
  text-align: center; /* Centra horizontalmente el texto */
  line-height: 25px; /* Asegura que el texto esté centrado verticalmente */
  transition: border-color 0.3s ease; 
}

input:focus {
  border-color: var(--medium-green);
}

/* Ocultar los controles de número en navegadores basados en WebKit */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Asegurarse de que la apariencia de los inputs de número sea consistente */
input[type=number] {
  appearance: none;
}