<div class="tarifa-container">
  <select #tarifaSelect [(ngModel)]="tarifaContratada" (change)="onTarifaChange()">
    <option value="" disabled selected>Selecciones su tipo de tarifa</option>
    <option *ngFor="let tarifa of tarifas" [value]="tarifa.value">
      {{ tarifa.viewValue }}
    </option>
  </select>
</div>
<br>
<div class="potencia-contratada" *ngIf="tarifaContratada">
  <div class="potencia-content">

    <p>Potencia contratada (Máxima asignada: {{ potenciaMaxAsignada / 1000 }} MW)</p>
    <input type="number" [(ngModel)]="potenciaMaxAsignada" placeholder="Potencia contratada"  [disabled]="isPotenciaMaxDisabled()" [max]="potenciaMaxAsignada" (input)="onPotenciaInputChange()">
    
  </div>  
</div>

