<div class="componentes-resultados-paso3">
  <div class="component-container-borde" id="max-bor">
    <div class="icon-container">
      <img src="assets/icon-tarifa.png" id="marca" class="custom-icon" alt="Icono de retorno">
    </div>
    <div class="texto-container">
      <p class="titulo"> Tarifas del intercambio de energía con la red.</p>
      <p class="resultado-component">500<span class="unidad" id="unidad-min"> USD/kWh</span></p>
      <p class="texto-inferior">Compra de energía a CAMMESA, con precios y tasa de cambio actuales.</p> 
    </div>
  </div>