 <!--<div class="resultados-paso3">
    <div class="component-container-borde">
        <div class="titulo-general-long">
            <p>Tarifas del intercambio de energía con la red</p>
        </div>
        <div class="informacion-general">
            <div class="ajustar-contenido">
                <div class="info-component">      
                    <div class="icono">
                        <img src="assets/icon-tarifa.png"  class="tamaño-icon" alt="Icono de tarifa">
                    </div>       
                    <div class="resultado-centro">
                        <p class="resultado"> <span class="dolar-simbolo">&#36;</span>{{500 | number:'1.0-0'}}</p>
                    </div>           
                    <div class="unidad-component">
                        <p class="unidad-comp">USD/</p>
                        <P class="texto-lateral-grande">kWh</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>-->

  <div class="resultados-paso3">
    <div class="component-container-borde">
      <div class="titulo-general-long">
        <p>Tarifas del intercambio de energía con la red</p>
      </div>
  
      <div class="informacion-general">      
        <div class="datos">
  
            <div class="icono">
                <img src="assets/icon-tarifa.png"  
                class="tamaño-icon" 
                alt="Icono de tarifa">
            </div>
    
          <div class="resultado-centro">
            <p class="resultado">  {{ tarifaIntercambioUsdkWh | number:'1.0-0'}} </p>
            <p class="unidad">USD/kWh</p>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>