 <div class="resultados-paso3">
    <div class="component-container-borde">
        <div class="titulo-general-long">
            <p>Tarifas del intercambio de energía con la red</p>
        </div>
        <div class="informacion-general">
            <div class="ajustar-contenido">
                <div class="info-component">      
                    <div class="icono">
                        <img src="assets/icon-tarifa.png"  class="tamaño-icon" alt="Icono de tarifa">
                    </div>       
                    <div class="resultado-centro">
                        <p class="resultado">500</p>
                    </div>           
                    <div class="unidad-component">
                        <p class="unidad-comp">USD/</p>
                        <P class="texto-lateral-comp">kWh</P>
                    </div>
                </div>
            </div>
         <!--  <hr>
           <div class="texto-inferior-component">
            <p>Compra de energía a CAMMESA, con precios y tasa de cambio actuales</p>
           </div>-->
        </div>
    </div>
  </div>