<!--<div class="content">
    <div class="grafico">
      <canvas id="emisionesChart"></canvas>
    </div>
    <div class="grafico">
      <canvas id="energiaChart"></canvas>
    </div>
    <div class="grafico">
      <canvas id="ingresosChart"></canvas>
    </div>
    <div class="grafico">
      <canvas id="fotovoltaicaChart"></canvas>
    </div>
  </div> -->
  



<div class="grafico-container-borde">

  <div class="head">
    <div class="icono">
      <img src="assets/icon-CO2.png"  class="tamaño-icon" alt="Icono de Emisiones CO2">
    </div>
    <div class="titulo">
      <p>Emisiones CO2 evitadas</p>
    </div>
    <div class="resultado-container">
      <div class="resultado">
        <p class="resultado-numero">20</p>
      </div>           
      <div class="unidad">
        <p class="unidad-texto">tCO2/MWh</p>
      </div>
    </div>
  </div>

  <div class="informacion-general">

    <div class="grafico-component">
      <canvas id="emisionesChart"></canvas>
    </div>
    
    <hr>
    <div class="footer">
      <p>Según los paneles seleccionados</p>
    </div>

  </div>


</div>






  <!--<div class="graficos-general">
    <div class="component-container-borde">
        <div class="titulo-general">
            <p> Período de recuperación de la inversión aproximada</p>
        </div>
        <div class="informacion-general">
            <div class="ajustar-contenido">
                <div class="info-component">      
                    <div class="icono">
                        <img src="assets/icon-sol.png"  class="tamaño-icon" alt="Icono de energia">
                    </div>
                    <div class="resultado-centro">
                        <p class="resultado">856</p>
                    </div>
                    <div class="unidad-component-simple">
                        <p class="unidad-simple-dism">kWh</p>
                    </div>
                </div>
            </div>
           <hr>
           <div class="texto-inferior-component">
            <p>Según los paneles seleccionados</p>
           </div>
        </div>
    </div>
  </div> -->
