<div class="container-graficos">
  <!-- Emisiones CO2 evitadas -->
  <div class="item-grafico">
    <div class="grafico-container-borde">
      <div class="head">
        <div class="icono">
          <img src="assets/icon-CO2.png" class="tamaño-icon" alt="Icono de Emisiones CO2" />
        </div>
        <div class="titulo">
          <p>Emisiones CO2 evitadas</p>
        </div>
        <div class="resultado-container">
          <div class="resultado">
            <p class="resultado-numero">{{carbonOffSet}}</p>
          </div>
          <div class="unidad">
            <p class="unidad-texto">tCO2/MWh</p>
          </div>
        </div>
      </div>
      <div class="informacion-general">
        <div class="grafico-component">
          <canvas #emisionesChart></canvas>
        </div>
        <hr />
        <div class="footer">
          
        </div>
      </div>
    </div>
  </div>

  <!-- Valor esperado de energía y generación solar -->
  <div class="item-grafico">
    <div class="grafico-container-borde">
      <div class="head">
        <div class="icono">
          <img src="assets/icon-dinero.png" class="tamaño-icon" alt="ahorros" />
        </div>
        <div class="titulo">
          <p>Ahorros anuales punto de recupero de la inversión</p>
        </div>
        <div class="resultado-container">
          <div class="resultado">
            <p class="resultado-numero"></p>
          </div>
          <div class="unidad">
            <p class="unidad-texto"></p>
          </div>
        </div>
      </div>
      <div class="informacion-general">
        <div class="grafico-component">
          <canvas #ahorrosChart></canvas>
        </div>
        <hr />
        <div class="footer">
          <p>Recupero inversión ({{recuperoYear}} años, {{remainingMonths}} meses)</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Ingresos Monetarios -->
  <div class="item-grafico">
    <div class="grafico-container-borde">
      <div class="head">
        <div class="icono">
          <img src="assets/icon-CO2.png" class="tamaño-icon" alt="Icono de Emisiones CO2" />
        </div>
        <div class="titulo">
          <p>Energía solar respecto del total de consumo</p>
        </div>
        <div class="resultado-container">
          <!-- <div class="resultado">
            <p class="resultado-numero">Valores en</p>
          </div> -->
          <div class="unidad">
            <p class="unidad-texto">KWh anual</p>
          </div>
        </div>
      </div>
      <div class="informacion-general">
        <div class="grafico-component">
          <canvas #energiaChart></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
