.container-graficos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

.item-grafico {
  background-color: rgb(189, 185, 185);
  min-width: 350px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

/*efecto de las tarjetas al pasar el mouse*/
.item-grafico {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-grafico:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
/****************************************************************************/
.grafico-container-borde {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

.head {
  background-color: #96c0b2;
  border-radius: 8px 8px 0 0;
  color: var(--dark-green);
  width: 100%;
  height: 20%;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.head p {
  margin: 0%;
}

.icono {
  width: 12%;
  display: flex;
  justify-content: flex-start;
}

.tamaño-icon {
  width: 35px;
  height: 35px;
}

.titulo {
  color: var(--dark-green);
  width: 60%;
  text-align: center;
}

.titulo p {
  font-size: 16px;
  color: var(--dark-green);
  line-height: 1.1;
}

.resultado-container {
  width: auto;
  display: flex;
  gap: 5px;
  display: flex;
  justify-content: end;
}

.resultado {
  font-size: 25px;
  color: var(--medium-green);
  font-weight: 600;
  margin: 0%;
  padding: 0%;
  height: 100%;
}

.unidad p {
  color: var(--dark-green);
  margin-bottom: 0;
  padding: 0%;
  font-size: 0.7em;
  font-weight: bold;
}

.informacion-general {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 8px 8px;
  display: block;
  flex-direction: column;
  border-left: 2px solid var(--light-background);
  border-right: 2px solid var(--light-background);
  border-bottom: 2px solid var(--light-background);
  background-color: white;
}

.grafico-component {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

hr {
  height: 1px;
  background-color: #96c0b2;
  border: none;
}

.footer {
  width: 100%;
  height: 15%;
  font-size: 12px;
  line-height: 1.2;
  text-align: right;
  margin-top: 2px;
}

.footer p {
  margin-top: 8px;
  margin-bottom: 0%;
}

.grafico-container-flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*****************************************************/
/* Estilos para pantallas menores a 1300px */
@media (max-width: 1200px) {
  .titulo p {
    font-size: 14px;
  }

  .resultado {
    font-size: 20px;
  }
}

