 
 

.informacion-general {
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid var(--light-background);
    border-right: 2px solid var(--light-background);
    border-bottom: 2px solid var(--light-background);
  }

  .datos{
    background-color: chartreuse;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .icono {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .tamaño-icon {
    width: 40px;
    height: 40px;
  }

  .resultado-centro {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0%;
    display: flex;
    gap: 5px;
    background-color: brown;
  }

  .resultado {
    font-size: 25px;
    color: var(--medium-green);
    font-weight: 600;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; 
  }

  .unidad {
    color: var(--dark-green);
    font-size: 16px;
    font-weight: bold;
    margin: 0%;
    margin: 0%;
    padding: 0%;

    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; 
  } 
  
  
  