<div class="componentes-resultados-paso3">

  <div class="component-container">
    <div class="icon-container">
      <img src="assets/icon-retorno.png" id="marca" class="custom-icon" alt="Icono de retorno">
    </div>
    <div class="texto-container">
      <p class="titulo">Ahorros económicos</p>
      <p class="resultado-component">1403 <span class="unidad">USD</span><span class="texto-lateral"> al año</span></p>
      <p class="texto-inferior">Calculado según la superficie definida</p>
    </div>
  </div>

 <!-- <div class="component-container-inicio">
     <div class="icon-component-container">
       <img src="assets/icon-retorno.png" id="marca" class="custom-icon-component" alt="Icono de retorno">
     </div>
     <div class="texto-container-component">
       <p class="titulo-component">Ahorros económicos</p>
       <p class="resultado-component">1403 <span class="unidad">USD</span><span class="texto-lateral"> al año</span></p>
       <p class="texto-inferior-component">Calculado según la superficie definida</p>
     </div>
   </div> -->

</div>



 <!-- <div class="ahorro-container">
    <div class="icon-container">
      <img src="assets/icon-retorno.png" id="marca" class="custom-icon" alt="Icono de retorno">
    </div>
    <div class="texto-container">
      <p class="titulo">Ahorros económicos</p>
      <p class="ahorro">1403 <span class="unidad">USD</span><span class="texto-lateral"> al año</span></p>
      <p class="texto-inferior">Calculado según la superficie definida</p>
    </div>
  </div> -->