:root {
  --dark-green: #1e3932;
  --medium-green: #006241;
  --light-green: #00754a;
  --light-background: #d4e9e2;
  --golden: #cba258;
  --gris: #edebe9;
  --font-dark: #000000de;
  --font-light: #424242;
  --bordes: #a9b8ad;
}

.content-paso-cero {

/* General */
/* los estilos de .content estan en style.css */
.info-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 10px;
  gap: 10px;
}
.content-informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 86%;
}
.informacion {
  width: auto;
  margin-top: 0%;
}


.texto-container {
  height: 30%;
  display: flex;
  border-radius: 8px;
  padding: 7px;
  gap: 10px;
  background-color: var(--light-background);
}

.icono {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.info-inicio  {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-inicio p {
  color: var(--font-light);
  font-weight: 400;
  margin: 2px;
  font-size: 1vw;
}



.info-inicio h2 {
  text-transform: uppercase;
  /*font-size: 16px;*/
  font-size: 1.2vw;
  font-weight: 500;
  margin-bottom: 0px;
  margin-right: 0px;
  color: var(--dark-green);
  font-family: "Encode Sans", sans-serif;
}

/* Términos */
.terminos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#ver-terminos {
  background-color: var(--dark-green);
  border: none;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  color: white;
}

#ver-terminos:hover {
  background-color: var(--medium-green);
  color: white;
}

#acceptTerms {
  margin-top: 4px;
}

.check {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  font-size: 13px;
  font-weight: 500;
  color: var(--font-light);
  margin-left: 5px;
}

input {
  width: 15px;
  height: 15px;
}

.custom-snackbar {
 --mdc-snackbar-container-color: #3c81bb !important;
}
}

 

