<div class="componentes-resultados-paso3">
  <div class="component-container" id="max">
    <div class="icon-container">
      <img src="assets/icon-costo-inst.png" id="marca" class="custom-icon" alt="Icono de retorno">
    </div>
    <div class="texto-container">
      <p class="titulo">Costo de la instalación </p>
      <p class="resultado-component">{{costoInstalacion}}<span class="unidad"> USD</span></p>
      <p class="texto-inferior">Calculado con los precios y tasa de cambio actuales</p>
    </div>
  </div>
</div>