  /*general*/
  .contenido-container {
    background-color: #a9b8ad;
    height: calc(100vh - 90px); 
  }

  /*particular*/
  .contenido-container  {
    display: flex;
    flex-direction: column; 
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
  }


  
/*titulo*/
h1, span{
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2; 
  margin-bottom: 15%; 
}

p{
  color:white;
  text-align: center;
  font-family:sans-serif;
  font-size: 17px;
  font-weight:400;
  line-height: 1.2;
}

.boton-centrado {
  margin-top: 15vh;
   display: flex; /* Hace que el div contenga el botón sea un contenedor flex */
   justify-content: center; /* Centra el botón horizontalmente */
   width: 100%; /* Asegura que el div contenga el botón ocupe todo el ancho disponible */
}

#boton-siguiente {
  background-color: #417B6F;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}

#boton-siguiente:hover {
  background-color: #365e50;
}
