/*FUENTES*/
@font-face {
  font-family: 'Sodo Sans';
  src: url('./assets/font/SodoSans-Regular.woff2') format('woff2'),
       url('./assets/font/SodoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sodo Sans';
  src: url('./assets/font/SodoSans-Bold.woff2') format('woff2'),
       url('./assets/font/SodoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Sodo Sans', sans-serif;
}

/*COLORES*/
:root {
  --dark-green: #1e3932;
  --medium-green: #006241;
  --light-green: #00754a;
  --light-background: #d4e9e2;
  --golden: #cba258;
  --gris: #edebe9;
  --font-dark: #000000de;
  --font-light: #424242;
  --bordes: #a9b8ad;

--fs-8pxr: 0.5rem;
--fs-9pxr: 0.5625rem;
--fs-10pxr: 0.625rem;
--fs-11pxr: 0.6875rem;
--fs-12pxr: 0.75rem;
--fs-13pxr: 0.8125rem;
--fs-14pxr: 0.875rem;
--fs-15pxr: 0.9375rem;
--fs-16pxr: 1rem;
--fs-17pxr: 1.0625rem;
--fs-18pxr: 1.125rem;
--fs-19pxr: 1.1875rem;
--fs-20pxr: 1.25rem;
--fs-21pxr: 1.3125rem;
--fs-22pxr: 1.375rem;
--fs-23pxr: 1.4375rem;
--fs-24pxr: 1.5;
--fs-25pxr: 1.5625rem;
--fs-26pxr: 1.625rem;
--fs-27pxr: 1.6875rem;
--fs-28pxr: 1.75rem;
--fs-29pxr: 1.8125rem;
--fs-30pxr: 1.875rem;
--fs-31pxr: 1.9375rem;
--fs-32pxr: 2rem;
--fs-52pxr: 3.2rem;
}

/* Archivo styles.css */
.mat-snack-bar-container.custom-snackbar {
  background-color: orange !important;
  color: white !important; /* Cambia el color del texto, opcional */
  font-weight: bold; /* Cambia el estilo del texto, opcional */
}

.toolbar {
  width: 100%;
  height: 90px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Sodo Sans', sans-serif;
}

/* General */
.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info-container {
  width: auto;
  height: 100%;
}

/************************************************/
#titulo {
  background-color: var(--dark-green);
  width: 100%;
  height: 42px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 0;
  font-family: 'Sodo Sans', sans-serif;
}


#sub-titulo {
 /* text-transform: uppercase;*/
  color: #424242;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  font-family: 'Sodo Sans', sans-serif;
  margin: 0px;
  height: 5%;
}
/*************************************************/
/*span*/
#span-general {
  color: var(--medium-green);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  font-family: 'Sodo Sans', sans-serif;
}

#span-general:hover {
  color: var(--light-green);
}
/**********************************************/
/*iconos*/
.custom-icon {
  width: 40px;
  height: 40px;
  display: block;
}


/* Botones */
.button-container {
  height: 9%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#boton-siguiente {
  background-color: var(--dark-green);
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#boton-siguiente:hover {
  background-color: var(--medium-green);
}

#boton-siguiente .material-icons {
  margin-left: 8px; /* Espacio entre el texto y el ícono */
  color: white; /* Asegura que el ícono sea blanco */
  font-size: 18px; /* Ajusta el tamaño del ícono */
}

button[disabled] {
  cursor: not-allowed;
}

#boton-volver {
  background-color: white;
  color: var(--medium-green);
  /*font-weight: 500;*/
  font-weight: bold;
  border: 2px solid #a9b8ad;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#boton-volver:hover {
  border: 2px solid #8a978e;
}

#boton-volver .material-icons {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
  color: var(
    --medium-green
  ); /* Asegura que el ícono tenga el mismo color que el texto */
  font-size: 18px; /* Ajusta el tamaño del ícono */
}

/**********************************************/

#boton-editar {
  background-color: white;
  color: var(--dark-green);
  font-weight: 300;
  border: 2px solid var(--dark-green); /* Borde de 2px con el color especificado */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#boton-editar .material-icons {
  margin-left: 8px; /* Espacio entre el texto y el ícono */
  color: var(
    --dark-green
  ); /* Asegura que el ícono tenga el mismo color que el texto */
  font-size: 16px; /* Ajusta el tamaño del ícono */
}

#boton-editar:hover {
  border-color: var(
    --medium-green
  ); /* Cambio de color del borde al pasar el cursor */
  color: var(
    --medium-green
  ); /* Cambio de color de la letra al pasar el cursor */
}

#boton-editar:hover .material-icons {
  color: var(--medium-green); /* Cambio de color del ícono al pasar el cursor */
}

.custom-snackbar {
  --mdc-snackbar-container-color: #cba258!important;
 }

/*********************************************************************/
/*Estilos para los componentes que se renderizan en paso3 */

.componentes-resultados-paso3{

  .component-container{
    width: 228px;  
   /* height: 80px; */
    height: 90px; 
    background-color: white;
    background-color: var(--light-background);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #max{
    height: 110px;
  }

  #max-bor{
    height: 110px;
  }

  .component-container-borde {
    position: relative;
    width: 228px;  
    height: 100px; 
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .component-container-borde::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--light-background);
    border-radius: 8px; 
    pointer-events: none; 
    box-sizing: border-box;
  }

  .icon-container{
    flex-shrink: 0;
  }
  
  .custom-icon{
    width: 40px;
    height: 40px;
    display: block;
  }
  
  .texto-container{
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  
  .titulo{
    font-size: 15px; 
    color: var(--dark-green);
    margin-bottom: 15px;
  }
  
  .resultado-component {
    font-size: 28px;
    color: var(--medium-green);
    font-weight: 600;
    margin-bottom:3px;
  }
  
  .unidad{
    color: var(--dark-green);
    font-size: 25px;
  }

  #unidad-min{
    font-size:19px;
  }
  
  .texto-lateral{
    font-size: 13px;
    color: var(--dark-green);
  }
  
  .texto-inferior{
    color:var(--dark-green);
    font-size: 10px;
    margin-bottom: 0%;
    margin-top: 0% ;
    font-weight:300 ;
  }

  /*solo para el componente paneles ***********************/
  .datos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .numero{
    margin-top: 9px;
    margin-left: 10px;
  }
  .cantidad { 
    font-size: 40px;
    color: var(--medium-green);
    font-weight: 600;
  }
  
  .texto-inferior-panel{
    color: var(--dark-green);
    font-size: 12px;
    margin-bottom: 0%;
    margin-top: 0% ;
    font-weight:300 ;
  }
  
  .dimensiones{
    color: var(--dark-green);
    font-size: 10px;
    margin-bottom: 0%;
    margin-top: 0% ;
    font-weight:bold;
  }

}
/********************************************************************/



